
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b2d2f;
    color: #fff;
}

.card {
    max-width: 360px;
    margin: 30px auto;
    background: #103b3f;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.card h1 {
    margin-bottom: 5px;
}

.sub {
    font-size: 14px;
    opacity: 0.8;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 14px;
    background: #00ff9c;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
}

.msg {
    margin-top: 10px;
    color: #00ff9c;
}

.info {
    max-width: 360px;
    margin: auto;
    padding: 10px 20px 30px;
}

.info h3 {
    color: #00ff9c;
    margin-top: 20px;
}

.info ul {
    padding-left: 18px;
}
