
body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #38bdf8;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #1e293b;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 280px;
    box-shadow: 0 0 10px black;
}
